{% extends "AppBundle:Layouts:layout.html.twig" %}
{% block javascripts %}
    {{ parent() }}
    <script src="{{ asset('assets/js/products-pagination.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="container ">
        <h1>LISTA</h1>
        Resultados encontrados: {{ pagination.getTotalItemCount }}
        <hr>
        
        <div class=" box-products">
            {% for product in pagination %}
                <div class="product-item">
                {{product.productName}} <br>
                </div>
                <hr>
            {% endfor %} 

        </div>
            
        <div class="navigation">
            {{ knp_pagination_render(pagination) }}
        </div>
        <div class="clearfix"></div>
    </div>
{% endblock %}